@import '../../styles/settings.scss';

.card {
  position: relative;
  background: $color-light;
  border: 1px solid lighten($color-dark, 60%);
  padding: $base-size;
  margin: 0 0 $base-size 0;
  border-radius: $radius;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
button {
  color: $color-gray;
  border: none;
  background: $color-light;
  cursor: pointer;
}
button:hover {
  color: $color-dark;
}
.isFavorite {
  color: $color-warning;
}
.isFavorite:hover {
  color: $color-warning;
}
